.welcoming {
  color: #fff;
  background-color: #6564DB;
  border-color: #6564DB;
}

.adding {
  color: #fff;
  background-color: #191C1B;
  border-color: #191C1B;
}

.landing {
  color: #000000;
  background-color: #CBFAE8;
  border-color: #CBFAE8;
}